{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
   <h1>Статьи</h1>
   <h3>{{ articles|length }}</h3>

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if articles %}
       <table>
           <tr>
               <td>Автор</td>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Кратко</td>
           </tr>

           {% for article in articles %}
           <tr>
               <td>{{ article.author }}</td>
               <td>{{ article.header|censor }}</td>
               <td>{{ article.creation_dt|date:'M d Y' }}</td>
               <td>{{ article.text|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статьи отсутствуют!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{%url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{%url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{%url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% if user.is_authenticated %}
     <br><br>
     Добро пожаловать, {{ user.username }} | <a href="http://127.0.0.1:8000/accounts/logout/">Выход</a>
 {% else %}
     <br><br>
     <a href="http://127.0.0.1:8000/accounts/signup/">Зарегистрироваться</a> |
     <a href="http://127.0.0.1:8000/accounts/login/">Войти</a>
{% endif %}

{% endblock content %}