{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Category
{% endblock title %}

{% block content %}
   <h1>{{ category }}</h1>
   <h3>{{ category_list|length }}</h3>

   <hr>
   {% if category_list %}
       <table>
           <tr>
               <td>Раздел</td>
               <td>Автор</td>
               <td>Категория</td>
               <td>Заголовок</td>
               <td>Кратко</td>
               <td>Дата публикации</td>
           </tr>

           {% for post in category_list %}
           <tr>
               <td>{{ post.section|nice_section }}</td>
               <td>{{ post.author }}</td>
               <td>
                   {% for category in post.categories.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>
                   {% if post.section == 'NW' %}
                        <a href="{% url 'news_detail' post.id %}">{{ post.header|censor }}</a> <br>
                        <a href="{% url 'news_update' post.id %}">Редактировать</a>
                        <a href="{% url 'news_delete' post.id %}">Удалить</a>
                   {% else %}
                        <a href="{% url 'article_detail' post.id %}">{{ post.header|censor }}</a> <br>
                        <a href="{% url 'article_update' post.id %}">Редактировать</a>
                        <a href="{% url 'article_delete' post.id %}">Удалить</a>
                   {% endif %}
               <td>{{ post.text|truncatewords:20|censor }}</td>
               <td>{{ post.creation_dt|date:'M d Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикации отсутствуют!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{%url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{%url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{%url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% if user.is_authenticated %}
     {% if is_not_subscriber %}
        <br><br>
        <a href="{%url 'subscribe' category.id %}">Подписаться на категорию</a>
     {% else %}
        <br><br>
        <a href="{%url 'unsubscribe' category.id %}">Отписаться от категории</a>
     {% endif %}
     <br><br>
     Добро пожаловать, {{ user.username }} | <a href="http://127.0.0.1:8000/accounts/logout/">Выход</a>
 {% else %}
     <br><br>
     <a href="http://127.0.0.1:8000/accounts/signup/">Зарегистрироваться</a> |
     <a href="http://127.0.0.1:8000/accounts/login/">Войти</a>
{% endif %}

{% endblock content %}